<div id="<%= dom_id liked_tweet %>">
  <p>
    <strong>User:</strong>
    <%= liked_tweet.user_id %>
  </p>

  <p>
    <strong>Tweet:</strong>
    <%= liked_tweet.tweet_id %>
  </p>

  <p>
    <strong>Liked:</strong>
    <%= liked_tweet.liked %>
  </p>

</div>
