<h1>Editing liked tweet</h1>

<%= render "form", liked_tweet: @liked_tweet %>

<br>

<div>
  <%= link_to "Show this liked tweet", @liked_tweet %> |
  <%= link_to "Back to liked tweets", liked_tweets_path %>
</div>
