<h1>New tweet</h1>

<%if @parent_tweet%>
  <%= render "form2", parent_tweet: @parent_tweet, tweet: @tweet %>
<%else%>
<%= render "form", tweet: @tweet %>
<%end%>
<br>

<div>
  <%= link_to "Back to tweets", tweets_path %>
</div>
